<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
	    I am a Java developer who holds the certification OCA Java Programmer 8, 
	    with over 7 years experience in Web development. Highly motivated and quick adaptation to the latest technology. 
	    I have a strong knowledge in web development with experience in Java, Spring, Hibernate, Angular 5+, application services 
	    and other tools and frameworks. knowledge in agile method such as Scrum and Lean. I have excellent interpersonal skills. 
	    I am interested in software development and BRMS approaches. I have expertise in building backend services.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Designed and builded an API for communicating with electrical vehicle using the Open Clearing House Protocol (OCHP). 
    			</li>
          <li>
            Hold OCA Java Programmer 8.
          </li>
		<li>
            Exchange in Dublin, Ireland for studying english and improve my language skills.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
